<!DOCTYPE html>
<html>

<head>
</head>


<body>
    <p id="p">The input type="text" defines a one-line text input field:</p>

    <div> input: </div>
    
<p> value is  {{res}} </p>
   
    
    <script>



    </script>


</body>

</html>