body{
    background-color: #f1f3f3;
}

h1 {
    font-family:cursive;
    font-weight: bold;
    color:#7ac7d1;
    text-align: center;
    font-size: 100px;
    
    margin-top: 40px;
    margin-bottom: -5px;
    letter-spacing: 2px;
}

h2{
    display: block;
    font-family:cursive; 
    font-weight: lighter;
    color:#303c6c;
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    font-style: italic;
}

.ch{
     display: block;
    font-family:cursive; 
    font-weight:normal;
    text-align: center;
   position: fixed;
   top: 300;
   left: 580;
    font-size: 30px;
    color: #f4976c;
    
}

.a{
    /* background-color: #a3ccf5;  */
  border: 4px solid #303c6c;
  color: #7ac7d1;
  padding: 10px 15px;
  text-align: center;
  font-size: 40px;
  font-family: monospace;
    font-weight: bold;
  cursor: pointer;
  width: 25 0px;
    height: 150px;
  display: block;
  border-radius: 8px;
    position: fixed;
    top: 400;
    left: 400;

}
.a:hover{
    background-color: #303c6c; 
}

.b{
    /* background-color: #a3ccf5;  */
    border: 4px solid #303c6c;
    color: #7ac7d1;
    padding: 10px 15px;
  text-align: center;
  font-size: 40px;
  font-family: monospace;
    font-weight: bold;
  cursor: pointer;
  width: 320px;
    height: 150px;
  display: block;
  border-radius: 8px;
    position: fixed;
    top: 400;
    left: 800;
    
}
.b:hover{
    background-color:#303c6c; 
}

.s{
    position: fixed;
    top: 420;
    left: 80;
    font-size: 20;
    font-family: cursive;
    display: none;
    color: #303c6c;
}

.u{
    position: fixed;
    top: 420;
    right: 80;
    font-size: 20;
    font-family: cursive;
    display: none;
    color: #303c6c;
}

.abt{
    position: fixed;
    top: 10;
    left: 20;
    cursor: pointer;
    font-size: 20;
    font-family: cursive;
    color: #303c6c;
}
.abt:hover{
    text-decoration-line: underline;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {   
    background-color: #f1f3f3;
    margin: auto;
    padding: 20px;
    border: 4px solid #303c6c;
    border-radius: 10px;
    width: 66%;
    font-size: 20;
    font-family: cursive;
    text-align: justify;
    color: #f4976c;
}


.close {
  content: "\00D7";
  color: #7ac7d1;
  float: right;
  position: relative;
  font-size: 40px;
/*  font-weight: bold;*/
}

.close:hover,
.close:focus {
  color: #303c6c;
  text-decoration: none;
  cursor: pointer;
}