body{
    background-color: #f1f3f3;
}

h1 {
    font-family:cursive;
    font-weight: bold;
    color:rgb(71, 153, 235);
    text-align: center;
    font-size: 50px;
    
    margin-top: 20px;
    margin-bottom: -5px;
    letter-spacing: 2px;
}

h2{
    display: block;
    font-family:cursive; 
    font-weight: lighter;
    color:black;
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
    font-style: italic;
}

.ch{
     display: block;
    font-family:cursive; 
    font-weight:normal;
    text-align: center;
    margin-top: 120px;
/*    position: fixed;*/
    font-size: 30px;
    
}

.a{
    background-color: #a3ccf5; 
  border: 4px solid #4799eb;
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-size: 20px;
  font-family: monospace;
    font-weight: bold;
  cursor: pointer;
  width: 25 0px;
    height: 150px;
  display: block;
  border-radius: 8px;
    position: fixed;
    top: 350;
    left: 420;
    font-size: 30;

}
.a:hover{
    background-color: #4799eb; 
}

.b{
    background-color: #a3ccf5; 
  border: 4px solid #4799eb;
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-size: 20px;
  font-family: monospace;
    font-weight: bold;
  cursor: pointer;
  width: 250px;
    height: 150px;
  display: block;
  border-radius: 8px;
    position: fixed;
    top: 350;
    left: 820;
 font-size: 30;
    
}
.b:hover{
    background-color:#4799eb; 
}

.s{
    position: fixed;
    top: 380;
    left: 80;
    font-size: 20;
    font-family: cursive;
    display: none;
}

.u{
    position: fixed;
    top: 380;
    right: 100;
    font-size: 20;
    font-family: cursive;
    display: none;
}

.abt{
    position: fixed;
    top: 10;
    left: 20;
    cursor: pointer;
    font-size: 20;
    font-family: cursive;
}
.abt:hover{
    text-decoration-line: underline;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {   
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 4px solid #888;
    width: 66%;
    font-size: 20;
    font-family: cursive;
    text-align: justify;
}


.close {
  content: "\00D7";
  color: #aaaaaa;
  float: right;
  position: relative;
  font-size: 40px;
/*  font-weight: bold;*/
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}