<!DOCTYPE html>
<html>

<head>
{{ style('UserDef/queueRes') }}
</head>


<body>

    <title> Queue </title>
                
    <h1> QUEUE </h1>

    <a HREF="/UserDefined/Queue"> <span class="bR">&#8249;</span></a>
    <div class="backR" id="back"> Back to code </div>
   <div class="action" id="action">  </div>
    <div class="a" id="a"> Action: </div>
    <p class= "area" id="area"> </p>


    <script>
                    var queue=[];
                    var arr=[];
                    var actions=[];
                    var cont= document.createElement('div');
                    var ul = document.createElement('ul');

                    function display(){

                        if(queue==undefined){
                            return;
                        }

                            var list=document.getElementById("area");
                            list.appendChild(cont);
                            cont.innerHTML="";
                            cont.appendChild(ul);
                            ul.innerHTML="";
                           
                                for(i=0;i<queue.length;i++){
                                let li = document.createElement('li');
                                li.innerHTML = queue[i];
                                ul.appendChild(li);   
                            }
                            
   
                    
                    }

                    function animate(){
                        setTimeout(function(){
                                    queue=arr[0];
                                    display()
                                    document.getElementById("action").innerHTML="Create Queue"
                                    
                                },1000);
                        l=1
                        while(l<arr.length){
                            (function(l){

                                setTimeout(function(){
                                    if(arr[l]!=null){
                                        queue=arr[l];
                                        editQ()
                                        display()
                                        document.getElementById("action").innerHTML=actions[l-1]
                                    }

                                },1000+(1500*l));

                            })(l);

                            l++

                        }
                        
                    }

                    function editQ(){
                        var zf=countZF(queue)
                        if(zf==0){
                            return
                        }
                        else{
                            var l=queue.length;
                            var q=[]
                            for(var i=0;i<l;i++){
                                q[i]=0;
                            }
                            var j=zf;
                            for(var i=0;i<l-zf;i++){
                                q[i]=queue[j];
                                j++;
                            }
                            queue=q;
                        }
                    }

                    function countZF(a){
                        var z=0;
                        for(var i=0;i<a.length ;i++){
                            if(a[i]==0)
                                z++;
                            else
                                break;    
                        }
                        return z;
                    }

                    function countZE(a){
                        var z=0;
                        for(var i=a.length-1;i>=0;i--){
                            if(a[i]==0)
                                z++;
                            else
                                break; 
                        }
                        return z;
                    }

                    function setActions(){
                        for(var i=0;i<arr.length-1;i++){
                            var a=arr[i];
                            var b=arr[i+1];

                            if(a!=null && b!=null){
                                if(countZE(a)>countZE(b)){
                                    var v=b[a.length-countZE(a)]
                                    
                                    
                                    var t="enqueue ".concat(v)
                                    actions.push(t)
                                }
                                else{
                                    var v=a[countZF(b)-1]
                                    actions.push("dequeue ".concat(v))
                                }
                            }
                        }
                    }

                    arr={{res}}
                    console.log(arr)
                    setActions()
                    animate()
    
    </script>


</body>

</html>