body{
    background-color: #f1f3f3;
}

h1 {
    font-family:cursive;
    font-weight: bold;
    color:#303c6c;
    text-align: center;
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    height: 30px;
}

.area{
    position: fixed;
    display: inline-block;
    top: 120px;
    left: 630px;
     width: 60px;

}
.input{
  height: 530;
  width: 600;
  resize: none;
  position: fixed;
  top: 150;
  left: 420;
  font-size: 15; 
  background-color: #f1f3f3;
  border: 1px solid #303c6c;   
  border-radius: 10px;
  color: #303c6c;
}

.tex{ 
  position: fixed;
  top: 110;
  left: 420;
  font-size: 20;
  font-family: cursive;
  color: #f4976c;
}

.run{
  position: fixed;
  top: 110;
  left: 950;
  background-color: #b4dfe5; 
border: 2px solid #303c6c;
color: white;
/*  padding: 15px 20px;*/
text-align: center;
font-size: 22px;
font-family: monospace;
  font-weight: bold;
cursor: pointer;
width: 60px;
  height: 30px;
border-radius: 6px;
}

.run:hover {
  background-color: #7ac7d1;
}

.back{
    position: fixed;
    top: 50;
    left: 60;
    font-size: 18;
    font-family: cursive;
    display: none;
    color: #f4976c;
}

.b {
  content: "\2039";
    font-size: 50;
    position: fixed;
    top: 0;
    left: 65;
    font-family: cursive;
    color: #303c6c;
    margin-top: -10;
}

.backH{
    position: fixed;
    top: 50;
    left: 15;
    font-size: 18;
    font-family: cursive;
    display: none; 
    color: #f4976c;
}

.bH{
    content: "\00AB";
    font-size: 50;
    position: fixed;
    top: 0;
    left: 20;
    font-family: cursive;
    color: #303c6c;
    margin-top: -10;
}

.abt{
    position: fixed;
    bottom: 10;
    right: 30;
    cursor: pointer;
    font-size: 20;
    font-family: cursive;
    color: #303c6c;
}
.abt:hover{
    text-decoration-line: underline;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {   
  background-color: #f1f3f3;
  margin: auto;
  padding: 20px;
  border: 4px solid #303c6c;
  border-radius: 10px;
  width: 66%;
  font-size: 20;
  font-family: cursive;
  text-align: justify;
  color: #f4976c;
}

.close {
    content: "\00D7";
    color: #7ac7d1;
    float: right;
    position: relative;
    font-size: 40px;
}

.close:hover,
.close:focus {
    color: #303c6c;
    text-decoration: none;
    cursor: pointer;
}

.read{
  position: fixed;
  top:15;
  left: 150;
  /* bottom: 10;
  right: 100; */
  color: #f4976c;
  font-size: 15;
  font-family: cursive;
  border: 1px solid #303c6c;
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
}

@keyframes r {
    0%{transform: rotate(0deg);}
    33%{transform: rotate(6deg);}
    66%{transform: rotate(-6deg);}
    100%{transform: rotate(0deg);}
}

@keyframes r2 {
    0%{left: 150;}
    33%{left: 155;}
    66%{left: 145;}
    100%{left: 150;}
}

.anim{
  animation: r 2s infinite;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px #303c6c; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b4dfe5; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: 	#7ac7d1	; 
}

.arr{
  content: "\21B4";
    font-size: 45;
    position: fixed;
    top: 95px;
    left: 620px;
    font-family: cursive;
    color: #303c6c;
}

.data{
  display: none;
}