body{
    background-color: #f1f3f3;
}

h1 {
    font-family:cursive;
    font-weight: bold;
    color:#303c6c;
    text-align: center;
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    height: 30px;
/*
    position: fixed;
    top:10px;
    right: 600;
*/

}

ul{
    box-sizing: content-box;
 /*    box-sizing: border-box;*/
     list-style-type:none;
 /*    display: flex;    WILL USE IT IN QUEUE*/
 /*  justify-content: center;*/
 /*  align-items: center;*/
     
     padding: 4px;
 /*    margin-top: 5%;*/
     position: fixed;
 /*    margin-left: 30%;*/
 /*    margin-right: 50%;*/
 /*    display: block;*/
 /*  vertical-align: middle;*/
 /*    width: 60px;*/
 }
 
 ul li {
     font-size:35px; 
 /*
     width: 80;
     height: 120;
 */
   text-align: center;
   border: 3px solid #f4976c;
   margin-top: -1px; 
   /* background-color: #f4976c; */
   padding: 12px;
   border-radius: 40%;
   word-wrap: break-word;
   font-family: cursive;  
      display: inline;
      font-weight: bold;
      color: #303c6c;
 }
.area{
    position: fixed;
    display: inline-block;
    top: 120px;
    left: 630px;
/*    margin-left: 25%;*/
     width: 60px;
/*    margin-top: 5%;*/
/*     margin-top: 10px;*/
/*    height: 300px;*/
}

.input{
  height: 530;
  width: 600;
  resize: none;
  position: fixed;
  top: 150;
  left: 500;
  font-size: 15; 
  background-color: #f1f3f3;
  border: 1px solid #303c6c;   
  border-radius: 10px;
  color: #303c6c;
}

.tex{ 
  position: fixed;
  top: 110;
  left: 500;
  font-size: 20;
  font-family: cursive;
  color: #f4976c;
}

.run{
  position: fixed;
  top: 110;
  left: 1030;
  background-color: #b4dfe5; 
border: 2px solid #303c6c;
color: white;
/*  padding: 15px 20px;*/
text-align: center;
font-size: 22px;
font-family: monospace;
  font-weight: bold;
cursor: pointer;
width: 60px;
  height: 30px;
border-radius: 6px;
}
.run:hover {
  background-color: #7ac7d1;
}

.back{
    position: fixed;
    top: 50;
    left: 60;
    font-size: 18;
    font-family: cursive;
    display: none;
    color: #f4976c;
}

.b {
  content: "\2039";
    font-size: 50;
    position: fixed;
    top: 0;
    left: 65;
    font-family: cursive;
    color: #303c6c;
    margin-top: -10;
/*    font-weight: bold;*/
}

.backH{
    position: fixed;
    top: 50;
    left: 15;
    font-size: 18;
    font-family: cursive;
    display: none; 
    color: #f4976c;
}

.bH{
    content: "\00AB";
    font-size: 50;
    position: fixed;
    top: 0;
    left: 20;
    font-family: cursive;
    color: #303c6c;
    margin-top: -10;
}

.abt{
    position: fixed;
    bottom: 10;
    right: 30;
    cursor: pointer;
    font-size: 20;
    font-family: cursive;
    color: #303c6c;
}
.abt:hover{
    text-decoration-line: underline;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {   
  background-color: #f1f3f3;
  margin: auto;
  padding: 20px;
  border: 4px solid #303c6c;
  border-radius: 10px;
  width: 66%;
  font-size: 20;
  font-family: cursive;
  text-align: justify;
  color: #f4976c;
}


.close {
content: "\00D7";
color: #7ac7d1;
float: right;
position: relative;
font-size: 40px;
/*  font-weight: bold;*/
}

.close:hover,
.close:focus {
color: #303c6c;
text-decoration: none;
cursor: pointer;
}

.front{
    position: fixed;
    top: 240;
    left: 440;
    font-size: 25;
    font-family: cursive;
    color: #7ac7d1;
    display: none;
}

.rear{
  position: fixed;
  top: 180;
  left: 575;
  font-size: 25;
  font-family: cursive;
  color: #7ac7d1;
  display: none;
}


::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px #303c6c; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b4dfe5; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: 	#7ac7d1	; 
}

.arr{
  content: "\21B4";
    font-size: 45;
    position: fixed;
    top: 95px;
    left: 700px;
    font-family: cursive;
    color: #303c6c;
}

.data{
  display: none;
}

/* Code Istructions */
@keyframes slideS {
  from{left: -450;}
  to{left: 20;}
}

@keyframes slideH {
from{left: 20;}
to{left: -450;}
}

.infoAnimS{
animation: slideS 400ms ;
animation-fill-mode:forwards;
animation-timing-function: ease-in-out;
}

.infoAnimH{
animation: slideH 400ms ;
animation-fill-mode:forwards;
animation-timing-function: ease-in-out;

}

.infoAr{
  content: "\203A";
  font-size: 60;
  font-family: cursive;
  color: #f4976c;
  /* border: 1px solid #303c6c; */
  border-radius: 50%;
    position: fixed;
  top: 80;
  left: 10;
  cursor: pointer;
  display: none;
}

.arrH{
  content: "\203A";
  font-size: 60;
  font-family: cursive;
  color: #f4976c;
  /* border: 1px solid #303c6c; */
  border-radius: 50%;
    position: fixed;
    top: 80;
  left: 10;
  cursor: pointer;
  /* display: none; */
}

.know{
  position: fixed;
  top: 115;
  left: 40;
  font-size: 18;
  font-family: cursive;
  color: #7ac7d1;
}

.info{
  position: fixed;
  /* bottom: 5 ; */
  top: 150;
  left: 20;
  border: 1px solid #303c6c;
  border-radius: 8px;
  font-size: 16;
  font-family: cursive;
  /* color: #7ac7d1; */
  color: #303c6c;
  height: 500;
  width: 400;
  overflow-y: scroll;
  scroll-behavior: smooth;
  list-style-type: none;
  line-height: 150%;
  text-align: center;
}