body{
    background-color: #f1f3f3;
}

h1 {
    font-family:cursive;
    font-weight: bold;
    color:#303c6c;
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    height: 30px;
}

.back{
    position: fixed;
    top: 50;
    left: 60;
    font-size: 18;
    font-family: cursive;
    display: none;
    color: #f4976c;
  }
  
  .b {
  content: "\2039";
    font-size: 50;
    position: fixed;
    top: 0;
    left: 65;
    font-family: cursive;
    color: #303c6c;
    margin-top: -10;
  /*    font-weight: bold;*/
  }
  
  .backH{
    position: fixed;
    top: 50;
    left: 15;
    font-size: 18;
    font-family: cursive;
    display: none; 
    color: #f4976c;
  }
  
  .bH{
    content: "\00AB";
    font-size: 50;
    position: fixed;
    top: 0;
    left: 20;
    font-family: cursive;
    color: #303c6c;
    margin-top: -10;
  }
  
  
  .abt{
    position: fixed;
    bottom: 10;
    right: 30;
    cursor: pointer;
    font-size: 20;
    font-family: cursive;
    color: #303c6c;
  }
  .abt:hover{
    text-decoration-line: underline;
  }
  
  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content {   
    background-color: #f1f3f3;
    margin: auto;
    padding: 20px;
    border: 4px solid #303c6c;
    border-radius: 10px;
    width: 66%;
    font-size: 20;
    font-family: cursive;
    text-align: justify;
    color: #f4976c;
  }
  
  
  .close {
  content: "\00D7";
  color: #7ac7d1;
  float: right;
  position: relative;
  font-size: 40px;
  /*  font-weight: bold;*/
  }
  
  .close:hover,
  .close:focus {
  color: #303c6c;
  text-decoration: none;
  cursor: pointer;
  }

  .stackHome{
    /*    display: inline;*/
        margin-top: 10px;
        vertical-align: middle;
}

.btn-group{
    position: fixed;
    left: 80px;
    top: 180px;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.btn-group .button {
  background-color: #b4dfe5; 
  border: 2px solid #303c6c;
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-size: 22px;
  font-family: monospace;
    font-weight: bold;
  cursor: pointer;
  width: 120px;
  height: 70;
  display: block;
  border-radius: 8px;
  margin-top: 1px;

}

.btn-group .button:hover {
  background-color: #7ac7d1;
}

.notify{
    color: #f4976c;
    position: fixed;
    top: 310px;
    left: 85px;
    font-size: 20;
    font-family: cursive;
}

.go{
    background-color: #b4dfe5; 
    border: 2px solid #303c6c;
    color: white;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    width: 40px;
    height: 28;
    border-radius: 4px;
}

.go:hover {
  background-color: #7ac7d1;
}

.createRnd {
  margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
   left: 205px;
    top:175px;   
}

.createDef{
      margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
   left: 205px;
    top:207px;
}

.rndBtn{
    background-color: #b4dfe5; 
  border: 2px solid #303c6c;
  color: white;
/*  padding: 15px 20px;*/
  text-align: center;
  font-size: 14px;
  font-family: monospace;
    font-weight: bold;
  cursor: pointer;
  width: 65px;
  height: 28;
  border-radius: 6px;

}

.rndBtn:hover {
  background-color: #7ac7d1;
}

.defBtn{
        background-color: #b4dfe5; 
  border: 2px solid #303c6c;
  color: white;
/*  padding: 15px 20px;*/
  text-align: center;
  font-size: 14px;
  font-family: monospace;
    font-weight: bold;
  cursor: pointer;
  width: 110px;
  height: 28;
  border-radius: 6px;
}

.defBtn:hover {
  background-color: #7ac7d1;
}

.showRnd{
    display: none;
}

.showDef{
        display: none;
}

.popUp {
    display: none;
    font-size: 12px;
    position: fixed;
    left: 280px;
    top:185;
    font-family: cursive;
    color: #303c6c;
}

.popSz{
    display: none;
    font-size: 12px;
    position: fixed;
    left: 240px;
    top:162px;
    font-family: cursive;
    color: #303c6c;
}

.sortGo{
    position: fixed;
    top: 270;
    left: 205;
    display: none;
}

.method{
    position: fixed;
    top: 140;
    right: 30;
   
    font-size: 20;
    font-family: cursive;
    /* display: none; */
}

.code{
    border: 1px solid #303c6c;
    width: 420;
    height: 460;
    /* background: #e6e6ff; */
    border-radius: 10px;
    color: #303c6c;
}

.view{
    position: fixed;
    top: 100;
    right: 180;   
    padding: 5px 5px;
  text-align: center;
  font-size: 12px;
  font-family: monospace;
    font-weight: bold;
    border: 1 solid #303c6c;
    border-radius: 8px;
    cursor: pointer;
   color: #f4976c;
}

.view:hover{
  background-color: #b4dfe5;
}

.hide{
    position: fixed;
    top: 100;
    right: 180;  
    padding: 5px 5px;
  text-align: center;
  font-size: 12px;
  font-family: monospace;
    font-weight: bold;
    border: 1 solid #303c6c;
    border-radius: 8px;
    cursor: pointer;
    color: #f4976c;
}

.hide:hover{
  background-color: #b4dfe5;
}


.l1{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
/* padding: 8; */
width: 40;
height: 50;
align-items:center;
justify-content:center;
/* display: flex; */
border-radius: 40%;
word-wrap: break-word;
font-family: cursive;  
   display: none;
  position: fixed;
    top: 205;
    left: 450;
}

.l2{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
/* padding: 8; */
width: 40;
height: 50;
align-items:center;
justify-content:center;
/* display: flex; */
border-radius: 40%;
word-wrap: break-word;
font-family: cursive;  
   display: none;
  position: fixed;
    top: 205;
    left: 500;
}

.l3{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
/* padding: 8; */
width: 40;
height: 50;
align-items:center;
justify-content:center;
/* display: flex; */
border-radius: 40%;
word-wrap: break-word;
font-family: cursive;  
   display: none;
  position: fixed;
    top: 205;
    left: 550;
}

.l4{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
/* padding: 8; */
width: 40;
height: 50;
align-items:center;
justify-content:center;
/* display: flex; */
border-radius: 40%;
word-wrap: break-word;
font-family: cursive;  
   display: none;
  position: fixed;
    top: 205;
    left: 600;
}

.l5{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
/* padding: 8; */
width: 40;
height: 50;
align-items:center;
justify-content:center;
/* display: flex; */
border-radius: 40%;
word-wrap: break-word;
font-family: cursive;  
   display: none;
  position: fixed;
    top: 205;
    left: 650;
}

.l6{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
/* padding: 8; */
width: 40;
height: 50;
align-items:center;
justify-content:center;
/* display: flex; */
border-radius: 40%;
word-wrap: break-word;
font-family: cursive;  
   display: none;
  position: fixed;
    top: 205;
    left: 700;
}

.l7{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
/* padding: 8; */
width: 40;
height: 50;
align-items:center;
justify-content:center;
/* display: flex; */
border-radius: 40%;
word-wrap: break-word;
font-family: cursive;  
   display: none;
  position: fixed;
    top: 205;
    left: 750;
}

.l8{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
/* padding: 8; */
width: 40;
height: 50;
align-items:center;
justify-content:center;
/* display: flex; */
border-radius: 40%;
word-wrap: break-word;
font-family: cursive;  
   display: none;
  position: fixed;
    top: 205;
    left: 800;
}

.l9{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
/* padding: 8; */
width: 40;
height: 50;
align-items:center;
justify-content:center;
/* display: flex; */
border-radius: 40%;
word-wrap: break-word;
font-family: cursive;  
   display: none;
  position: fixed;
    top: 205;
    left: 850;
}

.l10{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
/* padding: 8; */
width: 40;
height: 50;
align-items:center;
justify-content:center;
/* display: flex; */
border-radius: 40%;
word-wrap: break-word;
font-family: cursive;  
   display: none;
  position: fixed;
    top: 205;
    left: 900;
}
