body{
    background-color: #f1f3f3;
}

h1 {
    font-family:cursive;
    font-weight: bold;
    color:#303c6c;
    text-align: center;
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    height: 30px;
/*
    position: fixed;
    top:10px;
    right: 600;
*/

}


.notify{
    color: #f4976c;
    position: fixed;
    top: 455px;
    left: 85px;
    font-size: 20;
    font-family: cursive;
}

.action{
    position: fixed;
    top: 485px;
    left: 85px;
     font-size: 20;
    font-family: cursive;
    color: #f4976c;
    
}

.stackHome{
/*    display: inline;*/
    margin-top: 10px;
    vertical-align: middle;
}

.area{
    position: fixed;
    display: inline-block;
    top: 200px;
    left: 510px;
    height: 50;
/*    margin-left: 25%;*/
/*     width: 60px;*/
/*    margin-top: 5%;*/
/*     margin-top: 10px;*/
/*    height: 300px;*/
}

.btn-group{
    position: fixed;
    left: 80px;
/*    margin-top: 5%;*/
    top: 150px;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.btn-group .button {
  background-color: #b4dfe5; 
  border: 2px solid #303c6c;
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-size: 20px;
  font-family: monospace;
    font-weight: bold;
  cursor: pointer;
  width: 120px;
    height: 80;
  display: block;
  border-radius: 8px;
  margin-top: 1px;

}

.btn-group .button:hover {
  background-color: #7ac7d1;
}

.pushAr{
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
    left: 205px;
    top:210px;
}

.tx{
    width: 50px;
}

.go{
    background-color: #b4dfe5; 
    border: 2px solid #303c6c;
    color: white;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    width: 40px;
    border-radius: 4px;
    cursor: pointer;
}

.go:hover {
  background-color: #7ac7d1;
}

.createRnd {
  margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
   left: 205px;
    top:150px;   
}

.createDef{
      margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
   left: 205px;
    top:183px;
}

.rndBtn{
    background-color: #b4dfe5; 
  border: 2px solid #303c6c;
  color: white;
/*  padding: 15px 20px;*/
  text-align: center;
  font-size: 14px;
  font-family: monospace;
    font-weight: bold;
  cursor: pointer;
  width: 65px;
  height: 28;
  border-radius: 6px;

}

.rndBtn:hover {
  background-color: #7ac7d1;
}

.defBtn{
        background-color: #b4dfe5; 
  border: 2px solid #303c6c;
  color: white;
/*  padding: 15px 20px;*/
  text-align: center;
  font-size: 14px;
  font-family: monospace;
    font-weight: bold;
  cursor: pointer;
  width: 110px;
  height: 28;
  border-radius: 6px;
}

.defBtn:hover {
  background-color: #7ac7d1;
}

.showRnd{
    display: none;
}

.showDef{
        display: none;
}

.labelSz{
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
}

.popUp {
    display: none;
    font-size: 12px;
    position: fixed;
    left: 275px;
    top: 160px;
    font-family: cursive;
    color: #303c6c;
}

.popSz{
    display: none;
    font-size: 12px;
    position: fixed;
    left: 220px;
    top:132px;
    font-family: cursive;
    color: #303c6c;
}

.popPr{
    display: none;
    font-size: 12px;
    position: fixed;
    left: 222px;
    top:201px;
    font-family: cursive;
    color: #303c6c;
}

.num{
    width: 45;
    height: 19;
}

.prAr{
    display: inline-block;
    position: fixed;
    left: 420;
    top: 300;
    font-family: cursive;
    font-size: 18;
}

.contPr{
    word-spacing: 34;
}

.a1 {
    font-size: 42;
  content: "\2192";
  position: fixed;
  top: 202;
  left: 448; 
    display: none;
    font-weight: bold;
    color: #303c6c;
}

.a2 {
    font-size: 42;
  content: "\2192";
  position: fixed;
  top: 202;
  left: 528; 
    display: none;
    font-weight: bold;
    color: #303c6c;
}

.a3 {
    font-size: 42;
  content: "\2192";
  position: fixed;
  top: 202;
  left: 608; 
    display: none;
    font-weight: bold;
    color: #303c6c;
}

.a4 {
    font-size: 42;
  content: "\2192";
  position: fixed;
  top: 202;
  left: 688; 
    display: none;
    font-weight: bold;
    color: #303c6c;
}

.a5 {
    font-size: 42;
  content: "\2192";
  position: fixed;
  top: 202;
  left: 768; 
    display: none;
    font-weight: bold;
    color: #303c6c;
}

.a6 {
    font-size: 42;
  content: "\2192";
  position: fixed;
  top: 202;
  left: 848; 
    display: none;
    font-weight: bold;
    color: #303c6c;
}



.l1{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
width: 35;
height: 45;
align-items:center;
justify-content:center;
border-radius: 40%;
word-wrap: break-word;
font-family: cursive;    
     display: none;
    position: fixed;
    top: 205;
    left: 410;
}

.l2{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
width: 35;
height: 45;
align-items:center;
justify-content:center;
border-radius: 40%;
word-wrap: break-word;
font-family: cursive;   
     display: none;
    position: fixed;
    top: 205;
    left: 490;
}

.l3{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
width: 35;
height: 45;
align-items:center;
justify-content:center;
border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive;  
     display: none;
    position: fixed;
    top: 205;
    left: 570;
}

.l4{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
width: 35;
height: 45;
align-items:center;
justify-content:center;
border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive;  
     display: none;
    position: fixed;
    top: 205;
    left: 650;
}

.l5{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
width: 35;
height: 45;
align-items:center;
justify-content:center;
border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive;  
     display: none;
    position: fixed;
    top: 205;
    left: 730;
}

.l6{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
width: 35;
height: 45;
align-items:center;
justify-content:center;
border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive;  
     display: none;
    position: fixed;
    top: 205;
    left: 810;
}

.l7{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
width: 35;
height: 45;
align-items:center;
justify-content:center;
border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive;  
     display: none;
    position: fixed;
    top: 205;
    left: 890;
}



.insH{
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
    left: 205px;
    top:230px;
}

.showH{
    display: none;
}

.hBtn{
     background-color: #b4dfe5; 
    border: 2px solid #303c6c;
    color: white;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    height: 28;
    width: 110px;
    border-radius: 6px;
     cursor: pointer;
}

.hBtn:hover {
  background-color: #7ac7d1;
}

.insT{
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
    left: 205px;
    top:263px;
}

.showT{
    display: none;
}

.tBtn{
     background-color: #b4dfe5; 
    border: 2px solid #303c6c;
    color: white;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    height: 28;
    width: 110px;
    border-radius: 6px;
    cursor: pointer;
}

.tBtn:hover {
  background-color: #7ac7d1;
}

.insI{
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
    left: 205px;
    top:275px;
}

.showI{
    display: none;
}

.iBtn{
     background-color: #b4dfe5; 
    border: 2px solid #303c6c;
    color: white;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 12px;
    height: 20;
    width: 115px;
    border-radius: 4px;
    cursor: pointer;

}

.iBtn:hover {
  background-color: #7ac7d1;
}

.go2{
     background-color: #b4dfe5; 
    border: 2px solid #303c6c;
    color: white;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    width: 30px;
    height: 20;
    border-radius: 4px; 
}

.go2:hover {
  background-color: #7ac7d1;
}

.popIn{
    display: none;
    font-size: 12px;
    position: fixed;
    left: 305px;
    top:305px;
    font-family: cursive;
    color: #303c6c;
}

.num2{
    width: 37;
    height: 19;
}

.remH{
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
    left: 205px;
    top:310px;
}

.remT{
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
    left: 205px;
    top:343px;
}

.remI{
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
    left: 205px;
    top: 355;
}

.showRI{
    display: none;
}

.popRIn{
    display: none;
    font-size: 12px;
    position: fixed;
    left: 270px;
    top:385px;
    font-family: cursive;
    color: #303c6c;

}

.sAr{
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
    left: 205px;
    top: 410px;
}

.back{
  position: fixed;
  top: 50;
  left: 60;
  font-size: 18;
  font-family: cursive;
  display: none;
  color: #f4976c;
}

.b {
content: "\2039";
  font-size: 50;
  position: fixed;
  top: 0;
  left: 65;
  font-family: cursive;
  color: #303c6c;
  margin-top: -10;
/*    font-weight: bold;*/
}

.backH{
  position: fixed;
  top: 50;
  left: 15;
  font-size: 18;
  font-family: cursive;
  display: none; 
  color: #f4976c;
}

.bH{
  content: "\00AB";
  font-size: 50;
  position: fixed;
  top: 0;
  left: 20;
  font-family: cursive;
  color: #303c6c;
  margin-top: -10;
}


.abt{
  position: fixed;
  bottom: 10;
  right: 30;
  cursor: pointer;
  font-size: 20;
  font-family: cursive;
  color: #303c6c;
}
.abt:hover{
  text-decoration-line: underline;
}

.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {   
  background-color: #f1f3f3;
  margin: auto;
  padding: 20px;
  border: 4px solid #303c6c;
  border-radius: 10px;
  width: 66%;
  font-size: 20;
  font-family: cursive;
  text-align: justify;
  color: #f4976c;
}


.close {
content: "\00D7";
color: #7ac7d1;
float: right;
position: relative;
font-size: 40px;
/*  font-weight: bold;*/
}

.close:hover,
.close:focus {
color: #303c6c;
text-decoration: none;
cursor: pointer;
}

.nodeH{
    font-size: 25;
    text-align: center;
  border: 3px solid #f4976c;
  color: #303c6c;
  margin-top: -1px; 
  width: 35;
  height: 45;
  align-items:center;
  justify-content:center;
  border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive;  
     display: none;
    position: fixed;
    top: 205;
    left: 330;
/*    animation-iteration-count: infinite;*/
}

.nodeT{
    font-size: 25;
    text-align: center;
  border: 3px solid #f4976c;
  color: #303c6c;
  margin-top: -1px; 
  width: 35;
  height: 45;
  align-items:center;
  justify-content:center;
  border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive;  
     display: none;
    position: fixed;
    top: 205;
    left: 950;
/*    animation-iteration-count: infinite;*/
}


/* @keyframes move{
    from {left: 410; top:200}
    to {left: 650; top: 95}
}

.anim{
    animation: move 3s ;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
        animation-delay: 2s;

} */

.method{
    position: fixed;
    top: 150;
    right: 30;
   
    font-size: 20;
    font-family: cursive;
    display: none;
}

.code{
    border: 1px solid #303c6c;
    width: 360;
    height: 380;
    /* background: #e6e6ff; */
    border-radius: 10px;
    color: #303c6c;
}

.view{
    position: fixed;
    top: 110;
    right: 140;
    /* background-color: #b3b3ff; */
    
    padding: 5px 5px;
  text-align: center;
  font-size: 12px;
  font-family: monospace;
    font-weight: bold;
    border: 1 solid #303c6c;
    border-radius: 8px;
    cursor: pointer;
   color: #f4976c;
}

.view:hover{
  background-color: #b4dfe5;
}

.hide{
    position: fixed;
    top: 110;
    right: 140; 
    
    /* background-color: #b3b3ff; */
    
    padding: 5px 5px;
  text-align: center;
  font-size: 12px;
  font-family: monospace;
    font-weight: bold;
    border: 1 solid #303c6c;
    border-radius: 8px;
    cursor: pointer;
    color: #f4976c;
}

.hide:hover{
  background-color: #b4dfe5;
}

.head{
  position: fixed;
  top: 300;
  left: 400;
  font-size: 25;
  font-family: cursive;
  display: none;
  color: #7ac7d1;
}

.tail{
  position: fixed;
  top: 300;
  left: 890;
  font-size: 25;
  font-family: cursive;
  display: none;
  color: #7ac7d1;
}

.insHM{
    display: none;
}

.upH{
  content: "\2191";
  font-size: 50;
  position: fixed;
  top: 245;
  left: 415;
  font-weight: lighter;
  color: #fbe8a6;
  font-family: cursive;
  /* transform: rotate(-20deg); */
  display: none;
}

.upT{
  content: "\2191";
  font-size: 50;
  position: fixed;
  top: 245;
  left: 895;
  font-weight: lighter;
  color: #fbe8a6;
  font-family: cursive;
  /* transform: rotate(-20deg); */
  display: none;
}

.upL{
  content: "\2196";
  font-size:45;
  position: fixed;
  top: 246;
  left: 376;
  font-weight: lighter;
  color: #fbe8a6;
  font-family: cursive;
  transform:rotate(-5deg) scale(2);
  display: none;
}

.upR{
  content: "\2197";
  font-size:45;
  position: fixed;
  top: 244;
  left: 920;
  font-weight: lighter;
  color: #fbe8a6;
  font-family: cursive;
  transform:rotate(5deg) scale(2);
  display: none;
}

.rightH{
  font-size: 42;
  content: "\2192";
  position: fixed;
  top: 202;
  left: 368; 
    display: none;
    font-weight: bold;
    color: #303c6c;
}

.rightT{
  font-size: 42;
  content: "\2192";
  position: fixed;
  top: 202;
  left: 928; 
    display: none;
    font-weight: bold;
    color: #303c6c;
}

.insTM{
  display: none;
}

.remHM{
  display: none;
}

.remTM{
  display: none;
}

.srchM{
    display: none;
}

.current{
  position: fixed;
  top: 175;
  left: 400;
  font-size: 20;
  font-family: cursive;
  display: none;
  color: #7ac7d1;
}

.info{
  position: fixed;
  bottom: 5 ;
  left: 40;
  border: 1px solid #303c6c;
  border-radius: 8px;
  font-size: 16;
  font-family: cursive;
  /* color: #7ac7d1; */
  color: #303c6c;
  height: 115;
  width: 700;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px #303c6c; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b4dfe5; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: 	#7ac7d1	; 
}

@keyframes slideS {
    from{left: -750;}
    to{left: 40;}
}

@keyframes slideH {
  from{left: 40;}
  to{left: -750;}
}

.infoAnimS{
  animation: slideS 500ms ;
  animation-fill-mode:forwards;
  animation-timing-function: ease-in-out;
}

.infoAnimH{
  animation: slideH 500ms ;
  animation-fill-mode:forwards;
  animation-timing-function: ease-in-out;

}

.infoAr{
  content: "\203A";
  font-size: 60;
  font-family: cursive;
  color: #f4976c;
  /* border: 1px solid #303c6c; */
  border-radius: 50%;
    position: fixed;
  bottom: 106;
  left: 10;
  cursor: pointer;
  display: none;
}

.arrH{
  content: "\203A";
  font-size: 60;
  font-family: cursive;
  color: #f4976c;
  /* border: 1px solid #303c6c; */
  border-radius: 50%;
    position: fixed;
  bottom: 106;
  left: 10;
  cursor: pointer;
  /* display: none; */
}


.know{
  position: fixed;
  bottom: 130;
  left: 40;
  font-size: 18;
  font-family: cursive;
  color: #7ac7d1;
}

.closeH {
  content: "\00D7";
  color: #7ac7d1;
  float: right;
  position: fixed;
  top: 105px;
  left: 980px;
  font-size: 40px;
  /*  font-weight: bold;*/
  }
  
.closeH:hover,
.closeH:focus {
  color: #303c6c;
  text-decoration: none;
  cursor: pointer;
  }

.modal-contentH {   
  background-color: #f1f3f3;
  margin: auto;
  padding: 20px;
  border: 4px solid #303c6c;
  border-radius: 10px;
  width: 40%;
  height: 50%;
  overflow-y: scroll;
  font-size: 20;
  font-family: cursive;
  text-align: justify;
  color: #f4976c;
}

.hst{
  position: fixed;
  bottom: 10;
  right: 130;
  cursor: pointer;
  font-size: 20;
  font-family: cursive;
  color: #303c6c;
}
.hst:hover{
  text-decoration-line: underline;
}

.htex{
  color: #7ac7d1;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.history{
  align-items: center;
  top: 50px;
  
}