body{
    background-color: #f1f3f3;
}

h1 {
    font-family:cursive;
    font-weight: bold;
    color:#303c6c;
    text-align: center;
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    height: 30px;
/*
    position: fixed;
    top:10px;
    right: 600;
*/

}


.sul{
    box-sizing: content-box;
/*    box-sizing: border-box;*/
    list-style-type:none;
/*    display: flex;    WILL USE IT IN QUEUE*/
/*  justify-content: center;*/
/*  align-items: center;*/
    
    padding: 4px;
    margin-top: 5%;
    margin-left: 30%;
/*    margin-right: 50%;*/
    display: block;
    width: 60px;
}

.sul li {
    font-size:25px; 
    width: 45;
  text-align: center;
  border: 3px solid #f4976c;
  margin-top: -1px; /* Prevent double borders */
  /* background-color: #f6f6f6; */
  padding: 8px;
  border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive;
  color: #303c6c;    
  font-weight: bold;
}

.notify{
    color: #f4976c;
    position: fixed;
    top: 370px;
    left: 85px;
    font-size: 20;
    font-family: cursive;
}

.action{
    position: fixed;
    top: 370px;
    left: 85px;
     font-size: 20;
    font-family: cursive;
    color: #f4976c;
    
}

.stackHome{
/*    display: inline;*/
    margin-top: 10px;
    vertical-align: middle;
}

.area{
    position: fixed;
    display: inline-block;
    top: 120px;
    left: 630px;
/*    margin-left: 25%;*/
     width: 60px;
/*    margin-top: 5%;*/
/*     margin-top: 10px;*/
/*    height: 300px;*/
}

.btn-group{
    position: fixed;
    left: 80px;
/*    margin-top: 5%;*/
    top: 150px;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.btn-group .button {
  background-color: #b4dfe5; 
  border: 2px solid #303c6c;
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-size: 20px;
  font-family: monospace;
    font-weight: bold;
  cursor: pointer;
  width: 120px;
  display: block;
  border-radius: 8px;
  margin-top: 1px;

}

.btn-group .button:hover {
  background-color: #7ac7d1;
}

.pushAr{
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
    left: 205px;
    top:210px;
}

.tx{
    width: 50px;
}

.go{
    background-color: #b4dfe5; 
    border: 2px solid #303c6c;
    color: white;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    width: 40px;
    border-radius: 4px;
}

.go:hover {
  background-color: #7ac7d1;
}

.createRnd {
  margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
   left: 205px;
    top:142px;   
}

.createDef{
      margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
   left: 205px;
    top:168px;
}

.rndBtn{
    background-color: #b4dfe5; 
  border: 2px solid #303c6c;
  color: white;
/*  padding: 15px 20px;*/
  text-align: center;
  font-size: 14px;
  font-family: monospace;
    font-weight: bold;
  cursor: pointer;
  width: 65px;
  border-radius: 6px;

}

.rndBtn:hover {
  background-color: #7ac7d1;
}

.defBtn{
        background-color: #b4dfe5; 
  border: 2px solid #303c6c;
  color: white;
/*  padding: 15px 20px;*/
  text-align: center;
  font-size: 14px;
  font-family: monospace;
    font-weight: bold;
  cursor: pointer;
  width: 110px;
  border-radius: 6px;
}

.defBtn:hover {
  background-color: #7ac7d1;
}

.showRnd{
    display: none;
}

.showDef{
        display: none;
}

.popUp {
    display: none;
    font-size: 12px;
    position: fixed;
    left: 260px;
    top:203px;
    font-family: cursive;
    color: #303c6c;
}

.popSz{
    display: none;
    font-size: 12px;
    position: fixed;
    left: 240px;
    top:132px;
    font-family: cursive;
    color: #303c6c;
}

.num{
    width: 45;
}

.back{
  position: fixed;
  top: 50;
  left: 60;
  font-size: 18;
  font-family: cursive;
  display: none;
  color: #f4976c;
}

.b {
content: "\2039";
  font-size: 50;
  position: fixed;
  top: 0;
  left: 65;
  font-family: cursive;
  color: #303c6c;
  margin-top: -10;
/*    font-weight: bold;*/
}

.backH{
  position: fixed;
  top: 50;
  left: 15;
  font-size: 18;
  font-family: cursive;
  display: none; 
  color: #f4976c;
}

.bH{
  content: "\00AB";
  font-size: 50;
  position: fixed;
  top: 0;
  left: 20;
  font-family: cursive;
  color: #303c6c;
  margin-top: -10;
}


.abt{
  position: fixed;
  bottom: 10;
  right: 30;
  cursor: pointer;
  font-size: 20;
  font-family: cursive;
  color: #303c6c;
}
.abt:hover{
  text-decoration-line: underline;
}

.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {   
  background-color: #f1f3f3;
  margin: auto;
  padding: 20px;
  border: 4px solid #303c6c;
  border-radius: 10px;
  width: 66%;
  font-size: 20;
  font-family: cursive;
  text-align: justify;
  color: #f4976c;
}


.close {
content: "\00D7";
color: #7ac7d1;
float: right;
position: relative;
font-size: 40px;
/*  font-weight: bold;*/
}

.close:hover,
.close:focus {
color: #303c6c;
text-decoration: none;
cursor: pointer;
}

/* history part */
.closeH {
  content: "\00D7";
  color: #7ac7d1;
  float: right;
  position: fixed;
  top: 105px;
  left: 900px;
  font-size: 40px;
  /*  font-weight: bold;*/
  }
  
.closeH:hover,
.closeH:focus {
  color: #303c6c;
  text-decoration: none;
  cursor: pointer;
  }

.modal-contentH {   
  background-color: #f1f3f3;
  margin: auto;
  padding: 20px;
  border: 4px solid #303c6c;
  border-radius: 10px;
  width: 30%;
  height: 50%;
  overflow-y: scroll;
  font-size: 20;
  font-family: cursive;
  text-align: justify;
  color: #f4976c;
}

.hst{
  position: fixed;
  bottom: 10;
  right: 130;
  cursor: pointer;
  font-size: 20;
  font-family: cursive;
  color: #303c6c;
}
.hst:hover{
  text-decoration-line: underline;
}

.htex{
  color: #7ac7d1;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.history{
  align-items: center;
  top: 50px;
  
}

/*  */

.node{
  font-size:25px; 
  width: 45;
  text-align: center;
  border: 3px solid #f4976c;
  margin-top: -1px; /* Prevent double borders */
  /* background-color: #f6f6f6; */
  padding: 8px;
  border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive; 
  font-weight: bold;
    display: none;
    position: fixed;
    top: 200;
    left: 410;
    color: #303c6c;

/*    animation-iteration-count: infinite;*/
}

@keyframes move{
    from {left: 410; top:200}
    to {left: 650; top: 95}
}

.anim{
    animation: move 3s ;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
        animation-delay: 2s;

}

.method{
    position: fixed;
    top: 150;
    right: 80;
   
    font-size: 20;
    font-family: cursive;
    display: none;
}

.code{
    border: 1px solid #303c6c;
    width: 300;
    height: 200;
    /* background: #e6e6ff; */
    border-radius: 10px;
    color: #303c6c;
}

.view{
    position: fixed;
    top: 110;
    right: 170;
    /* background-color: #b3b3ff; */
    
    padding: 5px 5px;
  text-align: center;
  font-size: 12px;
  font-family: monospace;
    font-weight: bold;
    border: 1 solid #303c6c;
    border-radius: 8px;
    cursor: pointer;
   color: #f4976c;
}

.view:hover{
  background-color: #b4dfe5;
}

.hide{
    position: fixed;
    top: 110;
    right: 170; 
    
    /* background-color: #b3b3ff; */
    
    padding: 5px 5px;
  text-align: center;
  font-size: 12px;
  font-family: monospace;
    font-weight: bold;
    border: 1 solid #303c6c;
    border-radius: 8px;
    cursor: pointer;
    color: #f4976c;
}

.hide:hover{
  background-color: #b4dfe5;
}


.push{
    display: none;
}

.pop{
    display: none;
}

.peek{
    display: none;
}

.top{
    position: fixed;
    top: 140;
    left: 763;
    font-size: 30;
    font-family: cursive;
    display: none;
    color: #7ac7d1;
}

.left{
    content: "\2190";
    font-size: 45;
    position: fixed;
    top: 128;
    left: 720;
    font-weight: bolder;
    color: #fbe8a6;
    font-family: cursive;
    display: none;
}

.downL{
    content: "\2199";
    font-size: 75;
    position: fixed;
    top: 135;
    left: 720;
    font-weight: lighter;
    color: #fbe8a6;
    font-family: cursive;
    transform: rotate(20deg);
    display: none;

}

.upL{

  
    content: "\2196";
    font-size: 75;
    position: fixed;
    top: 80;
    left: 710;
    font-weight: lighter;
    color: #fbe8a6;
    font-family: cursive;
    transform: rotate(-20deg);
    display: none;

}

.info{
  position: fixed;
  bottom: 5 ;
  left: 40;
  border: 1px solid #303c6c;
  border-radius: 8px;
  font-size: 16;
  font-family: cursive;
  /* color: #7ac7d1; */
  color: #303c6c;
  height: 217;
  width: 500;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px #303c6c; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b4dfe5; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: 	#7ac7d1	; 
}

@keyframes slideS {
    from{left: -550;}
    to{left: 40;}
}

@keyframes slideH {
  from{left: 40;}
  to{left: -550;}
}

.infoAnimS{
  animation: slideS 500ms ;
  animation-fill-mode:forwards;
  animation-timing-function: ease-in-out;
}

.infoAnimH{
  animation: slideH 500ms ;
  animation-fill-mode:forwards;
  animation-timing-function: ease-in-out;

}

.infoAr{
  content: "\203A";
  font-size: 60;
  font-family: cursive;
  color: #f4976c;
  /* border: 1px solid #303c6c; */
  border-radius: 50%;
    position: fixed;
  bottom: 210;
  left: 10;
  cursor: pointer;
  display: none;
}

.arrH{
  content: "\203A";
  font-size: 60;
  font-family: cursive;
  color: #f4976c;
  /* border: 1px solid #303c6c; */
  border-radius: 50%;
    position: fixed;
  bottom: 210;
  left: 10;
  cursor: pointer;
  /* display: none; */
}

.dot{
  position: fixed;
  bottom: 228;
  left: 2;
  /* color: #f1f3f3; */
  border: 2px solid #303c6c;
  height: 30px;
  width: 30px;
  /* background-color: #bbb; */
  border-radius: 50%;
  display: none;
  cursor: pointer;
}

.know{
  position: fixed;
  bottom: 234;
  left: 40;
  font-size: 18;
  font-family: cursive;
  color: #7ac7d1;
}




