body{
    background-color: #f1f3f3;
}

h1 {
    font-family:cursive;
    font-weight: bold;
    color:#303c6c;
    text-align: center;
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    height: 30px;
/*
    position: fixed;
    top:10px;
    right: 600;
*/

}

.notify{
    color: #f4976c;
    position: fixed;
    top: 460px;
    left: 85px;
    font-size: 20;
    font-family: cursive;
}

.action{
    position: fixed;
    top: 490px;
    left: 85px;
     font-size: 20;
    font-family: cursive;
    color: #f4976c;
    
}

.stackHome{
/*    display: inline;*/
    margin-top: 10px;
    vertical-align: middle;
}

.area{
    position: fixed;
    display: inline-block;
    top: 120px;
    left: 630px;
/*    margin-left: 25%;*/
     width: 60px;
/*    margin-top: 5%;*/
/*     margin-top: 10px;*/
/*    height: 300px;*/
}

.btn-group{
    position: fixed;
    left: 80px;
/*    margin-top: 5%;*/
    top: 150px;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.btn-group .button {
  background-color: #b4dfe5; 
  border: 2px solid #303c6c;
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-size: 20px;
  font-family: monospace;
    font-weight: bold;
  cursor: pointer;
  width: 120px;
    height: 80;
  display: block;
  border-radius: 8px;
  margin-top: 1px;

}

.btn-group .button:hover {
  background-color: #7ac7d1;
}

.insert{
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
    left: 205px;
    top:245px;
}

.remove{
     margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
    left: 205px;
    top:325px;
}

.go{
    background-color: #b4dfe5; 
    border: 2px solid #303c6c;
    color: white;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    width: 40px;
    border-radius: 4px;
    cursor: pointer;
}

.go:hover {
  background-color: #7ac7d1;
}


.cRnd {
  margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
   left: 205px;
    top:150px;   
}

.rndBtn{
    background-color: #b4dfe5; 
  border: 2px solid #303c6c;
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: monospace;
    font-weight: bold;
  cursor: pointer;
  width: 65px;
  height: 28;
  border-radius: 6px;

}

.rndBtn:hover {
  background-color: #7ac7d1;
}

.cEmp {
  margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
   left: 205px;
    top:183px;   
}

.empBtn{
    background-color: #b4dfe5; 
  border: 2px solid #303c6c;
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: monospace;
    font-weight: bold;
  cursor: pointer;
  width: 65px;
  height: 28;
  border-radius: 6px;

}

.empBtn:hover {
  background-color: #7ac7d1;
}

/*
.createDef{
      margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
   left: 205px;
    top:168px;
}
*/

.minBtn{
    background-color: #b4dfe5; 
  border: 2px solid #303c6c;
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: monospace;
    font-weight: bold;
  cursor: pointer;
  width: 110px;
  border-radius: 6px;

}

.minBtn:hover {
  background-color: #7ac7d1;
}

.maxBtn{
        background-color: #b4dfe5; 
  border: 2px solid #303c6c;
  color: white;
/*  padding: 15px 20px;*/
  text-align: center;
  font-size: 14px;
  font-family: monospace;
    font-weight: bold;
  cursor: pointer;
  width: 110px;
  border-radius: 6px;
}

.maxBtn:hover {
  background-color: #7ac7d1;
}

/*
.showRnd{
    display: none;
}

.showDef{
        display: none;
}
*/

.findBtn{
        background-color: #b4dfe5; 
  border: 2px solid #303c6c;
  color: white;
/*  padding: 15px 20px;*/
  text-align: center;
  font-size: 14px;
  font-family: monospace;
    font-weight: bold;
  cursor: pointer;
  width: 60px;
  border-radius: 6px;
}

.findBtn:hover {
  background-color: #7ac7d1;
}

.fMin{
    margin-top: 10px;
    margin-bottom: 10px;
    display:none;
    position: fixed;
    left: 205px;
    top:387px;
}

.fMax{
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
    left: 205px;
    top:412px;
}

.f{
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
    left: 205px;
    top:437px;
}

.showV{
    display: none;
}

.num{
    width: 45;
}

.back{
  position: fixed;
  top: 50;
  left: 60;
  font-size: 18;
  font-family: cursive;
  display: none;
  color: #f4976c;
}

.b {
content: "\2039";
  font-size: 50;
  position: fixed;
  top: 0;
  left: 65;
  font-family: cursive;
  color: #303c6c;
  margin-top: -10;

/*    font-weight: bold;*/
}

.backH{
  position: fixed;
  top: 50;
  left: 15;
  font-size: 18;
  font-family: cursive;
  display: none; 
  color: #f4976c;
}

.bH{
  content: "\00AB";
  font-size: 50;
  position: fixed;
  top: 0;
  left: 20;
  font-family: cursive;
  color: #303c6c;
  margin-top: -10;
}


.t1{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
width: 40;
height: 50;
align-items:center;
justify-content:center;
  border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive;  
     display: none;
    position: fixed;
    top: 150;
    left: 700;
}

.t2{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
width: 40;
height: 50;
align-items:center;
justify-content:center;
  border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive;  
     display: none;
    position: fixed;
    top: 230;
    left: 500;
}

.t3{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
width: 40;
height: 50;
align-items:center;
justify-content:center;
  border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive;  
     display: none;
    position: fixed;
    top: 230;
    left: 900;
}

.t4{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
width: 40;
height: 50;
align-items:center;
justify-content:center;
  border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive;  
     display: none;
    position: fixed;
    top: 310;
    left: 400;
}

.t5{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
width: 40;
height: 50;
align-items:center;
justify-content:center;
  border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive;  
     display: none;
    position: fixed;
    top: 310;
    left: 600;
}

.t6{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
width: 40;
height: 50;
align-items:center;
justify-content:center;
  border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive;  
     display: none;
    position: fixed;
    top: 310;
    left: 800;
}

.t7{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
width: 40;
height: 50;
align-items:center;
justify-content:center;
  border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive;  
     display: none;
    position: fixed;
    top: 310;
    left: 1000;
}

.t8{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
width: 40;
height: 50;
align-items:center;
justify-content:center;
  border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive;  
     display: none;
    position: fixed;
    top: 390;
    left: 350;
}

.t9{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
width: 40;
height: 50;
align-items:center;
justify-content:center;
  border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive;  
     display: none;
    position: fixed;
    top: 390;
    left: 450;
}

.t10{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
width: 40;
height: 50;
align-items:center;
justify-content:center;
  border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive;  
     display: none;
    position: fixed;
    top: 390;
    left: 550;
}

.t11{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
width: 40;
height: 50;
align-items:center;
justify-content:center;
  border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive;  
     display: none;
    position: fixed;
    top: 390;
    left: 650;
}

.t12{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
width: 40;
height: 50;
align-items:center;
justify-content:center;
  border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive;  
     display: none;
    position: fixed;
    top: 390;
    left: 750;
}

.t13{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
width: 40;
height: 50;
align-items:center;
justify-content:center;
  border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive;  
     display: none;
    position: fixed;
    top: 390;
    left: 850;
}

.t14{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
width: 40;
height: 50;
align-items:center;
justify-content:center;
  border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive;  
     display: none;
    position: fixed;
    top: 390;
    left: 950;
}

.t15{
  font-size: 25;
  text-align: center;
border: 3px solid #f4976c;
color: #303c6c;
margin-top: -1px; 
width: 40;
height: 50;
align-items:center;
justify-content:center;
  border-radius: 40%;
  word-wrap: break-word;
  font-family: cursive;  
     display: none;
    position: fixed;
    top: 390;
    left: 1050;
}

.ar1 {
    font-size: 70;
  content: "\2198";
  position: fixed;
  top: 180;
  left: 810; 
    display: none;
    font-weight: lighter;
    color: #7ac7d1;
    transform: rotate(-70deg) scale(1,3.1);
}

.ar2 {
    font-size: 60;
  content: "\2198";
  position: fixed;
  top: 260;
  left: 563; 
    display: none;
    font-weight: lighter;
    color: #7ac7d1;
    transform: rotate(-50deg) scale(1,1.65);
}

.ar3 {
    font-size: 60;
  content: "\2198";
  position: fixed;
  top: 260;
  left: 963; 
  display: none;
  font-weight: lighter;
    color: #7ac7d1;
    transform: rotate(-50deg) scale(1,1.65);
}

.ar4 {
    font-size: 50;
  content: "\2198";
  position: fixed;
  top: 346;
  left: 440; 
  display: none;
  font-weight: lighter;
    color: #7ac7d1;
    transform: rotate(-40deg);
}

.ar5 {
    font-size: 50;
  content: "\2198";
  position: fixed;
  top: 346;
  left: 640; 
  display: none;
    font-weight: lighter;
    color: #7ac7d1;
    transform: rotate(-40deg);
}

.ar6 {
    font-size: 50;
  content: "\2198";
  position: fixed;
  top: 346;
  left: 840; 
  display: none;
    font-weight: lighter;
    color: #7ac7d1;
    transform: rotate(-40deg);
}

.ar7 {
    font-size: 50;
  content: "\2198";
  position: fixed;
  top: 346;
  left: 1040; 
  display: none;
    font-weight: lighter;
    color: #7ac7d1;
    transform: rotate(-40deg);
}

.al1 {
    font-size: 70;
  content: "\2199";
  position: fixed;
  top: 180;
  left: 616; 
  display: none;
    font-weight: lighter;
    color: #7ac7d1;
    transform: rotate(70deg) scale(1,3.1);
}

.al2 {
    font-size: 60;
  content: "\2199";
  position: fixed;
  top: 260;
  left: 465; 
  display: none;
    font-weight: lighter;
    color: #7ac7d1;
    transform: rotate(50deg) scale(1,1.65);
}

.al3 {
    font-size: 60;
  content: "\2199";
  position: fixed;
  top: 260;
  left: 865; 
  display: none;
    font-weight: lighter;
    color: #7ac7d1;
    transform: rotate(50deg) scale(1,1.65);
}

.al4 {
    font-size: 50;
  content: "\2199";
  position: fixed;
  top: 346;
  left: 390; 
  display: none;
    font-weight: lighter;
    color: #7ac7d1;
    transform: rotate(40deg);
}

.al5 {
    font-size: 50;
  content: "\2199";
  position: fixed;
  top: 346;
  left: 590; 
  display: none;
    font-weight: lighter;
    color: #7ac7d1;
    transform: rotate(40deg);
}

.al6 {
    font-size: 50;
  content: "\2199";
  position: fixed;
  top: 346;
  left: 790; 
  display: none;
    font-weight: lighter;
    color: #7ac7d1;
    transform: rotate(40deg);
}

.al7 {
    font-size: 50;
  content: "\2199";
  position: fixed;
  top: 346;
  left: 990; 
  display: none;
    font-weight: lighter;
    color: #7ac7d1;
    transform: rotate(40deg);
}

.method{
  position: fixed;
  top: 130;
  right: 10;
 
  font-size: 17;
  font-family: cursive;
  display: none;
}

.code{
  border: 1px solid #303c6c;
  width: 325;
  height: 520;
  /* background: #e6e6ff; */
  border-radius: 10px;
  color: #303c6c;
}

.view{
  position: fixed;
  top: 90;
  right: 100;
  /* background-color: #b3b3ff; */
  
  padding: 5px 5px;
text-align: center;
font-size: 12px;
font-family: monospace;
  font-weight: bold;
  border: 1 solid #303c6c;
  border-radius: 8px;
  cursor: pointer;
 color: #f4976c;
}

.view:hover{
background-color: #b4dfe5;
}

.hide{
  position: fixed;
  top: 90;
  right: 100; 
  
  /* background-color: #b3b3ff; */
  
  padding: 5px 5px;
text-align: center;
font-size: 12px;
font-family: monospace;
  font-weight: bold;
  border: 1 solid #303c6c;
  border-radius: 8px;
  cursor: pointer;
  color: #f4976c;
}

.hide:hover{
background-color: #b4dfe5;
}

.insM{
  display: none;
}

.remM{
  display: none;
}

.fVM{
  display: none;
}

.fMnM{
  display: none;
}

.fMxM{
  display: none;
}

.cur{
  color: #7ac7d1;
  font-family: cursive;
  font-size: 16;
  position: fixed;
  top: 125;
  left: 697;
  display: none;
}

.info{
  position: fixed;
  bottom: 5 ;
  left: 40;
  border: 1px solid #303c6c;
  border-radius: 8px;
  font-size: 16;
  font-family: cursive;
  /* color: #7ac7d1; */
  color: #303c6c;
  height: 120;
  width: 700;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px #303c6c; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b4dfe5; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: 	#7ac7d1	; 
}

@keyframes slideS {
    from{left: -750;}
    to{left: 40;}
}

@keyframes slideH {
  from{left: 40;}
  to{left: -750;}
}

.infoAnimS{
  animation: slideS 500ms ;
  animation-fill-mode:forwards;
  animation-timing-function: ease-in-out;
}

.infoAnimH{
  animation: slideH 500ms ;
  animation-fill-mode:forwards;
  animation-timing-function: ease-in-out;

}

.infoAr{
  content: "\203A";
  font-size: 60;
  font-family: cursive;
  color: #f4976c;
  /* border: 1px solid #303c6c; */
  border-radius: 50%;
    position: fixed;
  bottom: 106;
  left: 10;
  cursor: pointer;
  display: none;
}

.arrH{
  content: "\203A";
  font-size: 60;
  font-family: cursive;
  color: #f4976c;
  /* border: 1px solid #303c6c; */
  border-radius: 50%;
    position: fixed;
  bottom: 106;
  left: 10;
  cursor: pointer;
  /* display: none; */
}


.know{
  position: fixed;
  bottom: 130;
  left: 40;
  font-size: 18;
  font-family: cursive;
  color: #7ac7d1;
}

.abt{
  position: fixed;
  bottom: 10;
  right: 30;
  cursor: pointer;
  font-size: 20;
  font-family: cursive;
  color: #303c6c;
}
.abt:hover{
  text-decoration-line: underline;
}

.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {   
  background-color: #f1f3f3;
  margin: auto;
  padding: 20px;
  border: 4px solid #303c6c;
  border-radius: 10px;
  width: 66%;
  font-size: 20;
  font-family: cursive;
  text-align: justify;
  color: #f4976c;
}


.close {
content: "\00D7";
color: #7ac7d1;
float: right;
position: relative;
font-size: 40px;
/*  font-weight: bold;*/
}

.close:hover,
.close:focus {
color: #303c6c;
text-decoration: none;
cursor: pointer;
}

/* history part */
.closeH {
  content: "\00D7";
  color: #7ac7d1;
  float: right;
  position: fixed;
  top: 105px;
  left: 900px;
  font-size: 40px;
  /*  font-weight: bold;*/
  }
  
.closeH:hover,
.closeH:focus {
  color: #303c6c;
  text-decoration: none;
  cursor: pointer;
  }

.modal-contentH {   
  background-color: #f1f3f3;
  margin: auto;
  padding: 20px;
  border: 4px solid #303c6c;
  border-radius: 10px;
  width: 30%;
  height: 50%;
  overflow-y: scroll;
  font-size: 20;
  font-family: cursive;
  text-align: justify;
  color: #f4976c;
}

.hst{
  position: fixed;
  bottom: 10;
  right: 130;
  cursor: pointer;
  font-size: 20;
  font-family: cursive;
  color: #303c6c;
}
.hst:hover{
  text-decoration-line: underline;
}

.htex{
  color: #7ac7d1;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.history{
  align-items: center;
  top: 50px;
  
}

/*  */





